# Unreal Engine
Saved/
Intermediate/
DerivedDataCache/
*.dll
*.exe
*.pdb
*.ilk
*.lib
*.exp
*.ipdb
*.iobj
*.bsc
*.log
*.bak
*.opensdf
*.sdf
*.suo
*.ncb
*.vcxproj.user
*.vcxproj.filters
.vs/
.vscode/
Binaries/
Build/
*.sln
*.sln.ide
*.vcxproj
*.vcproj
*.sdf
*.opensdf
*.sln.docstates
*.suo
*.users
*.aps
*.ncb
*.pch
*.sbr
*.opt
*.plg
*.bsc
*.obj
*.exe
*.ilk
*.tlog/
Debug/
Release/